@media screen and (max-width: 479px) {
  .nav-container,
  .nav-item
   {
    flex-direction: column;
  }
  .nav-container {
    padding: 10px 20px;
    justify-content: center;
  }
  .nav-item {
    text-align: center;
    padding-bottom: 10px;
  }


  /* gammer style  */
  .gamming-container{
    margin: 0;
    padding: 0;
  }
  .gammer-section{
    flex-direction: column;
    padding: 30px 50px;
  }
  .perpose{
    padding-top: 30px;
    margin: 0;
  }
  .gammer-container h4{
    margin: 0;
    padding-top: 10px;
  }
  .gammer-container{
    padding-top: 30px;
    text-align: center;
    justify-content: center;
  }
  .gammer-img img{
    width: 300px;
  }


  /* video section style  */
  
}
