@media screen and (min-width: 480px) and (max-width: 976px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-container {
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  /* banner */
  .banner {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    background-image: url("./asset/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px;
    margin: 0;
  }
  .banner-img img {
    width: 300px;
  }
  /* gamming styles  */
  .gamming-container {
    margin: 0;
    padding: 0;
  }
  .gammer-section {
    flex-direction: column;
    padding: 50px 80px;
  }
  .perpose {
    padding-top: 50px;
    margin: 0;
  }
  .gammer-container h4 {
    margin: 0;
    padding-top: 15px;
  }
  .gammer-container {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
  }

  .video-container {
    margin: 0;
    padding: 0px 100px;
  }
  .video-card{
    padding: 0px 110px;
  }
  .video-card {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .img-card .main-img {
    width: 350px;
  }
}
