@media screen and (max-width: 479px) {
  .nav-container,
  .nav-item {
    flex-direction: column;
  }
  .nav-container {
    padding: 10px 20px;
    justify-content: center;
  }
  .nav-item {
    text-align: center;
    padding-bottom: 10px;
  }
  /* banner  */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    background-image: url("./asset/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 400px;
    margin: 0;
    padding: 50px;
  }
  .banner-img img {
    padding-bottom: 30px;
    width: 300px;
  }
  .nav-container {
    padding-top: 20px;
  }
  .banner-container h3 {
    color: #0b0223;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
  }
  .banner-container h2 {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 30px;
  }
  .banner-btn {
    padding-top: 10px;
    gap: 10px;
  }
  .banner-btn .sign-in-btn {
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  }
  .banner-btn .go-rogu-btn {
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;

    background: #4ec5f7;
  }
  /* gammer style  */
  .gamming-container {
    margin: 0;
    padding: 0;
  }
  .gammer-section {
    flex-direction: column;
    padding: 30px 50px;
  }
  .perpose {
    padding-top: 30px;
    margin: 0;
  }
  .gammer-container h4 {
    margin: 0;
    padding-top: 10px;
  }
  .gammer-container {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
  }
  .gammer-img img {
    width: 300px;
  }

  /* video section style  */
  .video-container {
    margin: 0;
    padding: 0px 50px;
  }
  .video-card {
    flex-direction: column;
    text-align: center;
  }
  .img-card .main-img {
    width: 325px;
  }
  /* play instantly */
  .play-instantly {
    margin: 0;
    padding: 10px 50px;
  }
  .instantly-container {
    background-color: #fff;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .instant-content {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .instant-content h2 {
    padding: 0px 30px;
    font-size: 35px;
    font-weight: 700;
  }
  .instant-content p {
    color: #534c64;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
  }
  .instant-img {
    margin-top: 50px;
  }
  .instant-img .main-img {
    width: 250px;
    margin-left: 70px;
  }
  .sub-img img {
    width: 160px;
    right: 0px;
  }
  .instant-img {
    margin-top: 0px;
  }
  /* author container  */
  .author-container {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 10px 50px;
    align-items: center;
    margin-bottom: 50px;
  }
  .author-container a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0b0223;
    text-decoration: none;
    padding: 8px 3px;
    border-radius: 50px;
    background: #fff;
  }
  .author-container a img {
    width: 20px;
    height: 20px;
  }
  .author-container a {
    color: #0b0223;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .author-container a:hover {
    color: #ff42a5;
    border: 2px solid #ff42a5;
  }
  /* footer  */
  footer {
    margin: 0;
    padding: 10px 40px;
  }
  .footer-menu {
    line-height: 40px;
  }
  .social-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 10px 50px 10px 95px;
  }
  .social-icon img {
    width: 25px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .privacy-setting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20px;
    justify-content: space-around;
    padding-bottom: 10px;
    line-height: 30px;
  }
  .copy-right{
    padding: 0px 80px;
    line-height: 20px;
  }
  
}
